@model IEnumerable<FireV2.Models.InfoDocumentTitleType>
@foreach (var item in Model)
{
    <div style="width:100%" class="panel panel-danger">
        <div class="panel-body">
            <table>
                <tbody>
                    <tr>
                        <td class="checkbox ">
                            <input type="checkbox" class="detailsItem checkbox" value="@item.InfoDocTitleTypeId" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label">@item.InfoDocTitleType</label>
                            <input type="text" class="detailsItem" />

                        </td>
                        <td>

                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $('input[type="checkbox"]').checkbox({
        checkedClass: 'icon-check',
        uncheckedClass: 'icon-check-empty'
    });
    </script>

}




